.btn {
  padding:.5em 1em;
  @apply bg-green-600 text-white;
  &:hover {
    @apply bg-green-800;
  }
}

.title-bg-txt {
  position: relative;
  span {
    z-index: 1;
    position: relative;
  }
  &::after {
    content: "WALLET";
    font-weight: 800;
    @apply text-green-100;
    font-size: 40px;
    position: absolute;
    z-index: 0;
    top:-.8em;
    left:0;
  }
}

.line {
  height: 20px;
  background: linear-gradient(90deg, #AD5DFA 0%, #5E6FEB 52%, #37CCA1 98%);
}

.main-menu {
  @apply bg-white shadow;
  .menu-item{
    @apply text-gray-600 hover:text-green-400 border-b-2 border-transparent hover:border-green-400 box-border mx-5 py-2 text-sm font-medium;
  }
}

#mobile-menu {
  .menu-item {
    @apply text-gray-600 hover:text-green-400 block px-3 py-2 text-base font-medium;
  }
}

.product-one {
  .product-image {
    @apply p-6 sm:p-16;
    background: linear-gradient(135deg, #E5FFF9 0%, #EEF0FF 100%);
    img {
      @apply w-2/3 mx-auto;
    }
  }
  .product-content {
    @apply p-4 sm:p-12;
  }
  @apply container mx-auto sm:w-full sm:pt-16 sm:pb-16 md:flex justify-center;

}

.group-3 {
  background:#1A2752;
  @apply text-white;
}

.richs-list {
  .rich-icon {
    @apply mr-3;
  }
  .rich-item {
    h4 {
      @apply text-gray-600 pb-4;
    }
    p {
      @apply text-green-500 text-3xl;
    }
  }
}

.group-tokens {
  background: linear-gradient(135deg, #1A2B59 0%, #11132C 100%);
  @apply text-center text-white;
  .container {
    @apply pt-16 pb-24;
  }
}

.footer {
  dt {
    @apply pb-3;
  }
  dd {
    @apply text-xs text-gray-400 pt-3 pb-3;
  }
  a {
    &:hover {
      @apply text-green-500;
    }
  }
}